.shopping-cart-wrapper {

	.counter {
		> div {
			padding: rem-calc(15);
			// display: inline-block;
		}

		.cart-icon{
			background: $primary-color;
			color: $white;
			font-size: rem-calc(22);
			min-width: rem-calc(63);
			text-align: center;
			position: relative;

			.cart-summary {
				position: absolute;
				right: 0;
				top: 63px;
				background: $primary-color;
				padding: $global-padding;
				font-size: $global-font-size;
				min-width: rem-calc(400);
				z-index: 99;
				text-align: left;
				display: none;
				transition: all .4s;

				table.unstriped {
					background: none;

					tbody {
						background: none;
						border: none;

						tr {
							background: none;

							td {
								border-right: solid 1px $white;

								&:last-child {
									border: none;
								} 
							}
						}
					}
				}

				p.spend-summary {
					margin-bottom: 0;
					margin-top: $global-margin;
				}
			} 

			&:hover {
				.cart-summary {
					display: inline-block;
				} 
			}
		}
		.item-counter {
			background: lighten($primary-color, 15%);
			color: $white;
			line-height: rem-calc(32);
			text-align: center;
			min-width: rem-calc(50);
		}
	}
		
	
}

.products-wrapper {
	margin-top: $global-margin * 2;

	.item-sizer {
		width: 25%;
	}

	.product {
		margin-bottom: $global-margin;

		&.item--width2 {
			width: 50%;
		}

		.product-inside{
			position: relative;
			text-align: center;

			.hover-add-to-cart {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				background: none;
				padding: $global-padding; 
				text-align: center;
				transition: background .6s;


				.price-tag {
					background: $secondary-color;
					text-align: center;
					width: 70%;
					color: $white;
					padding: rem-calc(5);
					border-radius: 100px;
					position: absolute;
					bottom: 8%;
					left: 15%;
				}

				.plus-minus-input, .int-pm {
					align-items: center;
					display: none !important;

					.input-group-field {
					    text-align: center;
					    margin-left: 0.5rem;
					    margin-right: 0.5rem;
					    // padding: 1rem;

					    &::-webkit-inner-spin-button,
					    ::-webkit-outer-spin-button {
					      appearance: none;
					    }

					    flex: 0;
					    min-width: auto;
					    width: rem-calc(50);
					    height: rem-calc(50);
					    border-radius: 50%;
					    background: $secondary-color;
					    border: none;
					    color: $white;
					    font-weight: bold;
					    font-size: rem-calc(26);
					}

					.input-group-button {
					    .circle {
					      border-radius: 50%;
					      padding: rem-calc(5);
					      // height: rem-calc(41);
					      background: $white;
					      color: $secondary-color;
					    }
					}
				}

				.add-to-cart-button {
					background: $white;
					color: $secondary-color;
					display: none;
					height: rem-calc(95);
				    width: rem-calc(95);
				    border-radius: 50%;
				    font-size: rem-calc(52);
				    padding: rem-calc(10);
				    text-align: center;
				    transition: all .6s;
				    position: relative;
				    z-index: 9;

				    &:hover {
				    	background: $secondary-color;
				    	color: $white;
				    	transition: all .4s;
				    }
				}


			}
		}
		
		&:hover {
			.product-inside{
				
				.hover-add-to-cart {
					background: rgba($primary-color, .5);
					transition: background .4s;


					.plus-minus-input, .int-pm {
						display: flex !important;
					}

					.add-to-cart-button {
						display: inline-block;
						transition: all .4s;
					}
				}


			}
		}

		.product-name {
			text-align: center;
			font-size: rem-calc(20);
			font-weight: bold;
			margin-top: rem-calc(10);
		}
	}
}

.test-masonry {
	.item { width: 25%; }
	.item--width2 { width: 50%; }
}