.checkout {
	table {
		margin-top: $global-margin * 2;

		td, th {
			border-right: $table-border;
		}
	}

	.auto-addition-checkout {
		margin-top: $global-margin * 2;
		margin-bottom: $global-margin;

		background: lighten($primary-color, 15%);
		border: none;

		tbody, tr, td {
			background: lighten($primary-color, 15%);
			border: none;
			color: $white;
		}

		.cheese-text {
			font-size: rem-calc(24);
			span {
				font-size: rem-calc(30);
			}

			/*======================================================
			=            All product background in here            =
			======================================================*/
			
			&.nachos {
				background: url('../images/products/nachos/nachos-check-box.png') right top no-repeat;
			}
			&.popcorn {
				background: url('../images/products/popcorn/popcorn-check-box.png') right top no-repeat;
			}
			&.water {
				background: url('../images/products/water/water-check-box.png') right top no-repeat;
			}
			&.soda {
				background: url('../images/products/soda/soda-check-box.png') right top no-repeat;
			}
			&.hotdog {
				background: url('../images/products/hotdog/hotdog-check-box.png') right top no-repeat;
			}
			&.candies {
				background: url('../images/products/candies/candies-check-box.png') right top no-repeat;
			}
			&.icecream {
				background: url('../images/products/icecream/icecream-check-box.png') right top no-repeat;
			}
			&.icedrink {
				background: url('../images/products/icedrink/icedrink-check-box.png') right top no-repeat;
			}
			
			/*=====  End of All product background in here  ======*/
			
		}

		.switch {
			margin: 15px auto;
    		text-align: center;

    		label {
				border-radius: 100px;

    			&:after{
    				border-radius: 100%;
    			}

    			.switch-active {
    				left: 15%;
    			}
    			.switch-inactive {
    				right: 15%;
    			}

    			// @include switch-paddle;
    		}

    		input {
    			&:checked ~ .switch-paddle {
    				background: $secondary-color;
    			}
    		}
		}
	}

	.review-checkout {
		margin-top: $global-margin * 3 + .5;

		h4 {
			color: $body-font-color;
		}

		.finish-button {
			margin-top: $global-margin * 2;
		}
	}
}

.callout {
	box-shadow: 0px 0px 3px #e0e6ec;

	h3 {
		// color: $black;
	}

	.cell.message {
		padding: 1rem;
	}

	.icon-wrapper {
		background: #f5f3f1;
		border-top-right-radius: rem-calc(5);
		border-bottom-right-radius: rem-calc(5);

		padding: rem-calc(15);
		font-size: rem-calc(90);

		i {
			transform: rotate(-45deg);
		}
	}
}