#product-discount {
	padding: 0;

	.content-wrap {
		padding: $global-padding;

		h3 {
			margin-top: $global-margin;
		}
		

		.controls {
			margin-top: $global-margin * 2;
		}
	}

	.image-background {
		@include breakpoint(small only) {
			height: rem-calc(250);
		}

		&.candies {
			background: url('../images/products/candies/candies-modal.jpg') center center;
			background-size: cover;
		}
		&.popcorn {
			background: url('../images/products/popcorn/popcorn-modal.jpg') center center;
			background-size: cover;
		}
		&.hotdog {
			background: url('../images/products/hotdog/hotdog-modal.jpg') center center;
			background-size: cover;
		}
		&.nachos {
			background: url('../images/products/nachos/nachos-modal.jpg') center center;
			background-size: cover;
		}
		&.icecream {
			background: url('../images/products/icecream/icecream-modal.jpg') center center;
			background-size: cover;
		}
		&.soda {
			background: url('../images/products/soda/soda-modal.jpg') center center;
			background-size: cover;
		}
		&.icedrink {
			background: url('../images/products/icedrink/icedrink-modal.jpg') center center;
			background-size: cover;
		}
		&.water {
			background: url('../images/products/water/water-modal.jpg') center center;
			background-size: cover;
		}
	}
}